* {
	box-sizing: border-box;
	/* Now the the content is rendered as per the width and height mentioned in al the elements
	It overides the style of all the body elements and browser defaults  */
}

/* This style will only apply as per specificity and element style will override or doesnt apply on the element selectors */
body {
  font-family: 'Roboto Mono', monospace;
  color: black;
  /* Removes the extra margin from the browser deafault on the #sections-id */
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  padding: 10px;
	/* CSS Height or Weight */
	width: 100%;
  height: 528px;
}

.section-title {
  color: #2ddf5c;
  /* The below style will inherit font-family style from body tag */
  /* font-family: inherit; */
}

.section-title:hover {
	color: #622ddf;
}

/* Combinators - adding styles of two rules */
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

.main-header {
	/* html header tag is block level element*/
	width: 100%;
	background: #2ddf5c;
	padding: 8px 16px;
}

/* Inlining both webpage link and navigation bar */
.main-header > div {
	display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  text-decoration:none;
  color:#105221;
  font-weight: bold;
  font-size:24px;
}

/* Since nav tag is block level elements so it is unable to inline with the .main-header > div */
/* In the below styling we are inlining the nav tag with div tag */
.main-nav {
	display: inline-block;
	text-align: right;
	width: calc(100% - 85px);
	/* The above calculation is make the webpage anchor inline with the navigation bar but it still takes the new line*/
	/* This issue will be resolved in the next lesson */
  vertical-align: middle;
}

.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;

  /* 
  Top and bottom margins do not affect inline elements
  because inline elements flow with content on the page.
  We can set left and right margins/padding on an inline element 
  but not top or bottom because it would disrupt the flow of content.
  */
  margin: 0 16px;

  /*
  The below css wont take effect,
  because the browser default styles for <a> tag will be applied first.
  */
  text-decoration: none;
}

/*
The below css will override the browser default styles for <a> tag
within the .main-nav__item class.
*/
.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

/* Pseudo-Classes */
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
