/* 
Follow the instructions and try to implement a solution on your own.

The instructions are:
1) Go to our landing page in the course project and add a “margin-top” to our image (“#product-overview”) to ensure,
that both the image and the slogan („Get the freedom you deserve“) are no longer hidden below the navigation bar.

2) Find a way to position the slogan in the left lower corner of the image using “px”.
The slogan should have some space to the left and to the bottom but do NOT add a margin to it.

3) Change the positioning context of the slogan
(challenge: What was the positioning context so far? What is the new positioning context?).
Remember how we created the badge on the “Packages” page…

4) Adjust the position of the slogan using “%” values.

5) Switch to the “Packages” page.

6) Add a “z-index” of 10 to the badge (“.package__badge”).
Scroll down on the webpage, what happens to the badge and what causes this issue?

7) Fix the issue encountered using the “z-index”.
Make sure that the highest “z-index” on the entire page is the “z-index” of the badge
(hint: Maybe the Stacking Context is a helpful concept in this situation,
so you might have to add the “position” property again).

All done, great job!
*/

#product-overview {
  background: url("freedom.jpg");
  padding: 10px;
  /* CSS Height or Weight */
  width: 100%;
  height: 528px;
  margin-top: 43px;
  position: relative;
}

.section-title {
  color: #2ddf5c;
  /* The below style will inherit font-family style from body tag */
  /* font-family: inherit; */
  text-align: center;
}

.section-title:hover {
  color: #622ddf;
}

/* Combinators - adding styles of two rules */
#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  width: 30%;
  display: inline-block;
  padding: 16px;
  margin: 8px;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  color: #19b84c;
  background-color: white;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

/*
When there is a space between two css class,
the css style is targeted at the nested element.

<article class="plan plan--highlighted">
  <h1 class="plan__title">PLUS</h1>
</article>
*/
.plan--highlighted .plan__title {
  color: white;
}

/*
When there is a space between two css class,
the css style is targeted at the nested element.

<article class="plan plan--highlighted">
  <h1 class="plan__price">$29/month</h1>
</article>
*/
.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  /* Since margin is collapasing here so we using margin instead of padding */
  margin: 8px 0;
}

#key-features {
  background: #ff1b68;
  padding: 16px;
  margin-top: 80px;
}

/*
When there is a space between two css class,
the css style is targeted at the nested element.
*/
#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
