/* Instead of using the universal selector, */
/* use body tag to apply/override style on the page. */
/*

* {
  // Universal selector
} 

*/

/* This style will only apply as per specificity and element style will override or doesnt apply on the element selectors */
body {
  font-family: 'Roboto Mono', monospace;
  color: black;
}

#section-id {
	background: #ff1b68;
}

/* The body style doesnt inherit from the body tag since this style applied based on the specificity */
h1 {
	color:white;
	font-family: 'Zen Dots';
}

.section-title {
  color: #2ddf5c;
  /* The below style will inherit font-family style from body tag */
  /* font-family: inherit; */
}

.section-title:hover {
	color: #622ddf;
}
