* {
  box-sizing: border-box;
  /* Now the the content is rendered as per the width and height mentioned in al the elements
	It overides the style of all the body elements and browser defaults  */
}

/* This style will only apply as per specificity and element style will override or doesnt apply on the element selectors */
body {
  font-family: 'Monterrat', sans-serif;
  color: black;
  /* Removes the extra margin from the browser deafault on the #sections-id */
  margin: 0;
}

.main-header {
  /* html header tag is block level element*/
  width: 100%;
  background: #2ddf5c;
  padding: 8px 16px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

/* Inlining both webpage link and navigation bar */
.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  text-decoration: none;
  color: #105221;
  font-weight: bold;
  font-size: 24px;
}

/* Since nav tag is block level elements so it is unable to inline with the .main-header > div */
/* In the below styling we are inlining the nav tag with div tag */
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 85px);
  /* The above calculation is make the webpage anchor inline with the navigation bar but it still takes the new line*/
  /* This issue will be resolved in the next lesson */
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;

  /* 
  Top and bottom margins do not affect inline elements
  because inline elements flow with content on the page.
  We can set left and right margins/padding on an inline element 
  but not top or bottom because it would disrupt the flow of content.
  */
  margin: 0 16px;

  /*
  The below css wont take effect,
  because the browser default styles for <a> tag will be applied first.
  */
  text-decoration: none;
}

/*
The below css will override the browser default styles for <a> tag
within the .main-nav__item class.
*/
.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

/* Pseudo-Classes */
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

/*
In CSS, order does matter
they have the same specificity
because they both have descendant combinator,
*/
.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

/*
In CSS, order does matter
they have the same specificity
because they both have descendant combinator,
*/
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}
