/* 
Follow the instructions and try to implement a solution on your own.

The instructions are:
1) Go to our landing page in the course project and add a “margin-top” to our image (“#product-overview”) to ensure,
that both the image and the slogan („Get the freedom you deserve“) are no longer hidden below the navigation bar.

2) Find a way to position the slogan in the left lower corner of the image using “px”.
The slogan should have some space to the left and to the bottom but do NOT add a margin to it.

3) Change the positioning context of the slogan
(challenge: What was the positioning context so far? What is the new positioning context?).
Remember how we created the badge on the “Packages” page…

4) Adjust the position of the slogan using “%” values.

5) Switch to the “Packages” page.

6) Add a “z-index” of 10 to the badge (“.package__badge”).
Scroll down on the webpage, what happens to the badge and what causes this issue?

7) Fix the issue encountered using the “z-index”.
Make sure that the highest “z-index” on the entire page is the “z-index” of the badge
(hint: Maybe the Stacking Context is a helpful concept in this situation,
so you might have to add the “position” property again).

All done, great job!
*/

main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid #0e4f1f;
  border-left: none;
  position: relative;
  z-index: 1;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;

  /* border-color: #ff5454 !important; */
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  font-size: 0.8rem;
  color: white;
  background-color: #ff5454;
  padding: 0.5rem;
  z-index: 10;
}

.package__subtitle {
  color: #979797;
}

.package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.2rem;
  color: #0e4f1f;
  background: white;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  /*
  The clear css property controls the flow next to floated elements.
  The clear property specifies what should happen with the element that is next to a floating element.
  */
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);

  /*
  The float property specifies whether an element should float to the left, right, or not at all.
  Note: Absolutely positioned elements ignore the float property.
  Note: Elements next to a floating element will flow around it.
        To avoid this, use the clear property or the clearfix hack.
  */
  float: right;

  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

#free:hover,
#free:active {
  border-left-color: #ff5454;
}

#premium {
  background: rgba(14, 75, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1500px) {
  .package {
    border-left: 4px solid #0e4f1f;
  }

  #free {
    border-right: 4px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }
}
